<h1>Welcome to AccessibleAid!</h1>




<h3><br/>This is a portal where individuals can submit tickets to have their physical, mental, or financial needs fulfilled.<h3>

<h5>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  In this application, indidividuals who struggle through poverty are given
  a medium in which they can connect with relief organizations to bring them back on track physically, mentally,
  and financially. 
  <br/>
  <br/>
  To begin, create an account and sign into the application. 
  Then create an entry with your contact information and information regarding the type of inquiry you would like to make
   and whether it is an inquiry involving food, clothing, or jobs.
<h5>
